html {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #1855af,
    #6c7ac2,
    #a2a4d6,
    #d2d0ea,
    #ffffff
  );
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hthree {
  gap: 5px;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 15px;
  opacity: 0.5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.circle {
  display: flex;
  float: right;
}

#calculator {
  margin: 0;
  /* display: grid; */
  width: 24rem;
  height: 44rem;
  background: rgb(2, 0, 36);
  /* background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(3,1,45,1) 35%, rgba(0,1,124,1) 65%, rgba(101,92,226,1) 100%);  */
  background: #020024;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 28%,
    rgba(6, 5, 57, 1) 45%,
    rgba(12, 10, 84, 1) 66%,
    rgba(16, 13, 117, 1) 85%
  );

  border-radius: 30px;
  box-shadow: 20px 24px 40px 0px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: 20px 24px 40px 0px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 20px 24px 40px 0px rgba(0, 0, 0, 0.78);
  overflow: hidden;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

}

#screen-el {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
  letter-spacing: 5px;
  width: 100%;
  height: 80px;
  position: relative;
  color: white;
  align-items: stretch;
  text-align: end;
  padding-bottom: 0px;

 
  ;
}

#ui {
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: -9rem;
}

#row-el {
  margin-top: 0.5rem;
}

button {
  margin: 0.3em;
  position: sticky;
  width: 4.5rem;
  height: 4.5rem;

  border: none;
  border-radius: 30px;
  color: white;
  background: rgb(2, 0, 36);

  font-size: large;

  margin-bottom: -100px;

  background-image: linear-gradient(
    to left bottom,
    #053162,
    #062d5d,
    #062a57,
    #062652,
    #06234d,
    #06234e,
    #06234e,
    #06234f,
    #062656,
    #07295d,
    #082d64,
    #09306b
  );
}

button:hover {
  background-image: linear-gradient(
    to left bottom,
    #074285,
    #083b7a,
    #062a57,
    #09306b
  );
}

#row-el:nth-child(1) button {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

#row-el:nth-child(1) button:hover {
  background-image: linear-gradient(
    to right top,
    #051937,
    #0372b3,
    #03aab9,
    #03db85,
    #fefffc
  );
}
#row-el #num-btn:nth-child(4) {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

#row-el #num-btn:nth-child(4):hover {
  background-image: linear-gradient(
    to right top,
    #051937,
    #0372b3,
    #03aab9,
    #03db85,
    #fefffc
  );
}

#num-btn:hover {
  border: 2px solid rgba(248, 248, 255, 0.514);
}

@keyframes button-animation {
  100% {
    border: 2px solid white;
  }
}

@media only screen and (max-width: 700px) {
  .hthree {
    font-size: 10px;
  }

  #calculator {
    width: 20rem;
    height: 40rem;
    gap: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  button {
    margin: 0.2em;
    position: sticky;
    width: 3.8rem;
    height: 3.3em;

    border-radius: 30px;
    color: white;
    background: rgb(2, 0, 36);

    font-size: large;

    margin-bottom: -100px;
  }

  #ui {
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    margin-bottom: -9rem;
  }
  
#screen-el {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
  letter-spacing: 5px;
  width: 100%;
  height: 80px;
  position: relative;
  color: white;
  align-items: stretch;
  text-align: end;
  padding-bottom: 0px;
}
  
}


3 rounds all online

1-
2-
3-operation round 